<div class="footer">
  <div class="footer__assistance">
    <h4 class="footer__title">Assistance</h4>
    <ul class="footer__item">
      <li class="footer__info"><a class="footer__link" href="/information">Information complémentaire</a></li>
      <li class="footer__info"><a class="footer__link" href="/cgv">Condition générale de vente</a></li>
      <li class="footer__info"><a class="footer__link" href="/privacy-policy">Politique de confidentialité</a></li>
    </ul>
  </div>
  <div class="footer__contact">
    <h4 class="footer__title">Contact</h4>
    <ul>
      <li class="footer__info">Email : <span class="footer__info--break-word">contact@envame.com</span></li>
      <li class="footer__info">Afrique : (+233)5 56 84 58 90</li>
      <li class="footer__info">Europe : (+33)6 28 60 73 50</li>
    </ul>
  </div>
  <div class="footer__social">
    <h4 class="footer__title">Suivez-nous</h4>
    <ul>
      <li class="footer__social-link"><a href="https://www.facebook.com/envameofficielen/"><img class="footer__social-logo" src="/assets/pictures/facebook-logo.png" alt="Facebook logo"></a></li>
      <li class="footer__social-link"><a href="https://instagram.com/envameofficiel"><img class="footer__social-logo" src="/assets/pictures/instagram-logo.png" alt="Instagram logo"></a></li>
    </ul>
  </div>
  <div class="footer__copyright">© 2021 Envame. Tout droit réservé</div>
</div>

<script src="/frontjs/main.js"></script>
 
