<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
  content="Le SPA2.0 est votre institut de beauté à domicile. Grâce à sa technologie de pointe utilisant la photomodulation. Un traitement profond rajeunissant, éclaircissant, anti-acné.">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- animation scrolling library -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style/style.css">
  <title>Envame - SPA 2.0 : Masque éclat peau parfaite</title>
</head>
<body>

  <header>
    <nav class="navbar">
      <div><a href="/"><img class="navbar__logo" src="./assets/pictures/logo-envame-plain.webp" alt="logo Envame"></a></div>
      <div class="hamburger-btn">
        <div class="hamburger-line"></div>
      </div>
      <ul class="navbar__menu">
        <li><a class="navbar__links" href="/#mask-envame">Masque SPA 2.0</a></li>
        <li><a class="navbar__links" href="/#3-effects">Trois actions</a></li>
        <li><a class="navbar__links" href="/contact">Contact</a></li>
        <li class="navbar__links navbar__links--buy buyNavModal">Acheter</li>
      </ul>
    </nav>
  </header>

  