<body>
  <header>
    <nav class="navbar">
      <div><a href="/"><img class="navbar__logo" src="./assets/pictures/logo-envame-plain.png" alt="logo Envame"></a></div>
      <div class="hamburger-btn">
        <div class="hamburger-line"></div>
      </div>
      <ul class="navbar__menu">
        <li><a class="navbar__links" href="/#mask-envame">Masque SPA 2.0</a></li>
        <li><a class="navbar__links" href="/#3-effects">Trois actions</a></li>
        <li><a class="navbar__links" href="/contact">Contact</a></li>
        <li><a class="navbar__links navbar__links--buy" href="/check-out">Acheter</a></li>
      </ul>
    </nav>
  </header>