@charset "UTF-8";
* {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  max-width: 100vw;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #fff;
  position: fixed;
  top: 0rem;
  z-index: 1;
}

.navbar__logo {
  width: 9vh;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50vw;
  height: 15vh;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .navbar__menu {
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0rem;
    top: 15vh;
    height: 85vh;
    width: 60vw;
    background-color: #f2f2f2;
    opacity: 0;
    visibility: hidden;
  }
}

.navbar__menu.burgerNavOpen {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0.95;
  visibility: visible;
}

.navbar__links {
  color: #000;
  text-decoration: none;
}

.navbar__links:hover {
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__links:active, .navbar__links:focus {
  color: #ff4e53;
}

.navbar__links--buy {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  background-color: #ff4e53;
  color: #fff;
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
}

.navbar__links--buy:hover {
  background-color: #fff;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__links--buy:active, .navbar__links--buy:focus {
  border-color: #ff0209;
  color: #ff0209;
  background-color: #fff;
}

.navbar__links.burgerNavOpen {
  opacity: 1;
}

.hamburger-btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .hamburger-btn {
    display: block;
    width: 15vw;
    height: 7.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.hamburger-line {
  width: 10vw;
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
  border-radius: 0.3125rem;
  margin: 1vh;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hamburger-line::before, .hamburger-line::after {
  content: '';
  position: absolute;
  width: 10vw;
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
  border-radius: 0.3125rem;
  margin: 1vh;
}

.hamburger-line::before {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.hamburger-line::after {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.hamburger-btn.burgerNavOpen .hamburger-line {
  background: transparent;
}

.hamburger-btn.burgerNavOpen .hamburger-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-btn.burgerNavOpen .hamburger-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.landing-page {
  width: 100vw;
  height: 85vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15vh;
}

.landing-page__pictures--left {
  height: 70vh;
}

@media screen and (max-width: 800px) {
  .landing-page__pictures--left {
    display: none;
  }
}

.landing-page__pictures--right {
  height: 70vh;
}

@media screen and (max-width: 800px) {
  .landing-page__pictures--right {
    display: none;
  }
}

.landing-page__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  height: 50vh;
}

@media screen and (max-width: 800px) {
  .landing-page__center {
    width: 70vw;
  }
}

.landing-page__brand--logo {
  max-width: 30vw;
}

.landing-page__advertising {
  text-align: center;
  font-size: 1.3rem;
}

.landing-page__advertising--highlight {
  font-weight: bold;
}

.fourcomercials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: 40vh;
  font-size: 1.3rem;
  margin: auto;
}

.fourcomercials__1 {
  -webkit-transform: translateX(-20vw);
          transform: translateX(-20vw);
}

@media screen and (max-width: 800px) {
  .fourcomercials__1 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fourcomercials__2 {
  -webkit-transform: translateX(10vw);
          transform: translateX(10vw);
}

@media screen and (max-width: 800px) {
  .fourcomercials__2 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fourcomercials__3 {
  -webkit-transform: translateX(-10vw);
          transform: translateX(-10vw);
}

@media screen and (max-width: 800px) {
  .fourcomercials__3 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fourcomercials__4 {
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
}

@media screen and (max-width: 800px) {
  .fourcomercials__4 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.title-bg-pink {
  width: 100vw;
  height: 10vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ff4e53;
  margin-top: 5vh;
}

.title-white {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.mask-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff4e53;
  color: #fff;
}

.mask-presentation__clip {
  max-height: 50vh;
  max-width: 80vw;
  margin: 5vh 0;
  -webkit-box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
}

.mask-presentation__text {
  max-width: 70vw;
  margin: auto;
  margin-bottom: 5vh;
  line-height: 1.5rem;
}

.mask-presentation__text--highlight {
  font-weight: bold;
}

.title-bg-white {
  width: 100vw;
  height: 10vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  margin-top: 5vh;
}

.title-pink {
  color: #ff4e53;
  font-size: 2rem;
  text-align: center;
}

.red-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5vh;
}

@media screen and (max-width: 800px) {
  .red-light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.red-light__picture {
  max-width: 40vw;
  -webkit-box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
}

@media screen and (max-width: 800px) {
  .red-light__picture {
    max-width: 80vw;
  }
}

.red-light__coment {
  max-width: 40vw;
}

@media screen and (max-width: 800px) {
  .red-light__coment {
    max-width: 80vw;
  }
}

.red-light__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1vh;
}

.red-light__title--color {
  font-size: 1.3rem;
  text-align: center;
  padding: 1vh;
}

.orange-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ff4e53;
  color: #fff;
  padding: 5vh;
}

@media screen and (max-width: 800px) {
  .orange-light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.orange-light__picture {
  max-width: 40vw;
  -webkit-box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
}

@media screen and (max-width: 800px) {
  .orange-light__picture {
    max-width: 80vw;
  }
}

.orange-light__coment {
  max-width: 40vw;
}

@media screen and (max-width: 800px) {
  .orange-light__coment {
    max-width: 80vw;
  }
}

.orange-light__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1vh;
}

.orange-light__title--color {
  font-size: 1.3rem;
  text-align: center;
  padding: 1vh;
}

.blue-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5vh;
}

@media screen and (max-width: 800px) {
  .blue-light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blue-light__picture {
  max-width: 40vw;
  -webkit-box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
}

@media screen and (max-width: 800px) {
  .blue-light__picture {
    max-width: 80vw;
  }
}

.blue-light__coment {
  max-width: 40vw;
}

@media screen and (max-width: 800px) {
  .blue-light__coment {
    max-width: 80vw;
  }
}

.blue-light__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1vh;
}

.blue-light__title--color {
  font-size: 1.3rem;
  text-align: center;
  padding: 1vh;
}

.light-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.light-effect__clip {
  max-height: 50vh;
  max-width: 80vw;
  margin: 5vh 0;
  -webkit-box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.625rem -0.125rem #000;
}

.light-effect__text {
  max-width: 70vw;
  margin: auto;
  margin-bottom: 5vh;
  line-height: 1.5rem;
}

.light-effect__text--highlight {
  font-weight: bold;
}

.buying-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buying-add__text {
  max-width: 70vw;
  margin: auto;
}

.buying-add__Btn {
  cursor: pointer;
  background-color: #ff4e53;
  color: #fff;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 5vh;
}

.buying-add__Btn:hover {
  background-color: #fff;
  border-color: #ff4e53;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buying-add__Btn:active {
  border-color: #ff0209;
  color: #ff0209;
}

.user-manual {
  background-color: #ff4e53;
  padding: 5vh 0;
  color: #fff;
}

.user-manual__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 800px) {
  .user-manual__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.user-manual__text {
  width: 70vw;
  height: 15vh;
  margin: auto;
  padding-top: 5vh;
}

@media screen and (max-width: 800px) {
  .user-manual__text {
    height: 20vh;
  }
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
  height: 40vh;
}

@media screen and (max-width: 800px) {
  .step {
    width: 70vw;
    height: 40vh;
  }
}

@media screen and (max-width: 600px) {
  .step {
    width: 70vw;
    height: 50vh;
  }
}

.step__picture {
  border-radius: 100%;
  max-width: 20vw;
}

@media screen and (max-width: 800px) {
  .step__picture {
    max-width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .step__picture {
    max-width: 60vw;
  }
}

.step__text {
  margin-top: 5vh;
}

@media screen and (max-width: 600px) {
  .step__text {
    margin-bottom: 5vh;
  }
}

.selling__bg-picture {
  background: url(../assets/pictures/selling-spot-background.png) no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5vh;
}

@media screen and (max-width: 800px) {
  .selling__bg-picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.selling-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  height: 50vh;
  margin: 5vh;
  background-color: rgba(245, 198, 204, 0.39);
  border-radius: 3.125rem;
}

@media screen and (max-width: 800px) {
  .selling-advantages {
    width: 70vw;
    height: 60vh;
  }
}

.selling-advantages__title {
  font-size: 1.3rem;
}

.selling-advantages__text {
  text-transform: uppercase;
  list-style-type: none;
  padding: 2vh;
}

.selling-advantages__text:before {
  content: '♥';
  color: #ff4e53;
  padding-right: 1vw;
}

.selling-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  height: 40vh;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .selling-info {
    width: 70vw;
    height: 35vh;
  }
}

.selling-info__current-price {
  font-weight: bold;
  font-size: 1.3rem;
}

.selling-info__old-price {
  margin: 1vh;
}

.selling-info__old-price--highlight {
  text-decoration: line-through;
}

.selling-info__Btn {
  cursor: pointer;
  background-color: #ff4e53;
  color: #fff;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 5vh;
}

.selling-info__Btn:hover {
  background-color: #fff;
  border-color: #ff4e53;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.selling-info__Btn:active {
  border-color: #ff0209;
  color: #ff0209;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: 50vh;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .newsletter {
    width: 80vw;
    height: 70vh;
  }
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .newsletter__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2vh 0;
  }
}

.newsletter__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter__email--label {
  font-size: 0.8rem;
  padding: 1vh 0;
}

.newsletter__email--input {
  width: 30vw;
  height: 7.5vh;
  background-color: rgba(245, 198, 204, 0.39);
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem;
  border: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .newsletter__email--input {
    width: 70vw;
    height: 7.5vh;
  }
}

.newsletter__btn {
  cursor: pointer;
  background-color: #ff4e53;
  color: #fff;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem #000;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 3vh;
}

.newsletter__btn:hover {
  background-color: #fff;
  border-color: #ff4e53;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.newsletter__btn:active {
  border-color: #ff0209;
  color: #ff0209;
}

@media screen and (max-width: 800px) {
  .newsletter__btn {
    width: 50vw;
    height: 7.5vh;
  }
}

.newsletter__age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.8rem;
}

.newsletter__age--checkbox {
  width: 3vw;
  height: 3vh;
  margin-right: 2.5vh;
}

@media screen and (max-width: 800px) {
  .newsletter__age--checkbox {
    width: 7.5vw;
    height: 7.5vh;
  }
}

@media screen and (max-width: 600px) {
  .newsletter__age--checkbox {
    width: 15vw;
    height: 15vh;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 30vh;
  max-width: 100%;
  background-color: #2f2f2f;
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem;
}

@media screen and (max-width: 800px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5vh;
    height: 60vh;
  }
}

.footer__title {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.footer__assistance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  height: 20vh;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .footer__assistance {
    width: 70vw;
    height: 30vh;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 20vh;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .footer__contact {
    width: 70vw;
    height: 30vh;
  }
}

.footer__contact--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50vw;
  height: 20vh;
}

.footer__link {
  color: #c4c4c4;
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__link:active, .footer__link:focus {
  color: #fff;
}

.footer__info {
  list-style-type: none;
  color: #c4c4c4;
  margin: 2vh;
}

.navspacing {
  margin-top: 20vh;
}

.information {
  width: 70vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .information {
    width: 90vw;
    height: 70vh;
  }
}

.information__menu {
  list-style-type: none;
}

.information__item {
  padding: 1vh;
}

.modal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  height: 40vh;
  background-color: #fff;
  color: #ff4e53;
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem;
  border-radius: 1.5625rem;
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 60vw;
    height: 40vh;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 80vw;
    height: 60vh;
  }
}

.modal__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.modal__bg--active {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  color: #fff;
  top: 0.625rem;
  right: 0.625rem;
  font-weight: bold;
}

.modal__title {
  background-color: #ff4e53;
  color: #fff;
  width: 100%;
  padding: 5vh 2vh;
  text-align: center;
}

.modal__text {
  padding: 5vh 2vh;
}

.modal__text--highlight {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  height: 50vh;
  background-color: #fff;
  color: #ff4e53;
  -webkit-box-shadow: 0rem 0rem 0.3125rem -0.125rem;
          box-shadow: 0rem 0rem 0.3125rem -0.125rem;
  border-radius: 1.5625rem;
}

@media screen and (max-width: 1000px) {
  .modal-newsletter {
    width: 60vw;
    height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  .modal-newsletter {
    width: 80vw;
    height: 60vh;
  }
}

.modal-newsletter__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.modal-newsletter__bg--hidden {
  visibility: hidden;
  opacity: 0;
}

.modal-newsletter__close {
  position: absolute;
  cursor: pointer;
  color: #fff;
  top: 0.625rem;
  right: 0.625rem;
  font-weight: bold;
}

.modal-newsletter__title {
  background-color: #ff4e53;
  color: #fff;
  width: 100%;
  padding: 5vh 2vh;
  text-align: center;
}

.modal-newsletter__text {
  margin: auto;
  padding: 5vh 2vh;
}

.modal-newsletter__text--highlight {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */