*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  max-width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 15vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 5;
}

.navbar__logo {
  width: 9vh;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60vw;
  height: 15vh;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .navbar__menu {
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 15vh;
    height: 85vh;
    width: 60vw;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    visibility: hidden;
  }
  .navbar__menu::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
    height: 85vh;
    background-color: #2f2f2f;
    opacity: 0.95;
    z-index: -1;
  }
  .navbar__menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 85vh;
    background-color: #fff;
    opacity: 0.2;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    z-index: -1;
  }
}

.navbar__links {
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar__links:hover {
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__links:active, .navbar__links:focus {
  color: #ff4e53;
}

@media screen and (max-width: 800px) {
  .navbar__links {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  .navbar__links:hover {
    color: #ff4e53;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar__links:active, .navbar__links:focus {
    color: #ff4e53;
  }
}

.navbar__links--buy {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  background-color: #ff4e53;
  color: #fff;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem #000;
          box-shadow: 0 0 0.3125rem -0.125rem #000;
}

.navbar__links--buy:hover {
  background-color: #fff;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__links--buy:active, .navbar__links--buy:focus {
  border-color: #ff0209;
  color: #ff0209;
  background-color: #fff;
}

.navbar__menu.burgerNavOpen {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  visibility: visible;
}

.navbar__links.burgerNavOpen {
  opacity: 1;
}

.hamburger-btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .hamburger-btn {
    display: block;
    width: 15vw;
    height: 7.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hamburger-btn:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (max-width: 450px) {
  .hamburger-btn {
    width: 30vw;
  }
}

.hamburger-line {
  width: 10vw;
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
  border-radius: 0.3125rem;
  margin: 1vh;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 450px) {
  .hamburger-line {
    width: 20vw;
  }
}

.hamburger-line::before, .hamburger-line::after {
  content: '';
  position: absolute;
  width: 10vw;
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333333;
  border-radius: 0.3125rem;
  margin: 1vh;
}

@media screen and (max-width: 450px) {
  .hamburger-line::before, .hamburger-line::after {
    width: 20vw;
  }
}

.hamburger-line::before {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.hamburger-line::after {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.hamburger-btn.burgerNavOpen .hamburger-line {
  background: transparent;
}

.hamburger-btn.burgerNavOpen .hamburger-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hamburger-btn.burgerNavOpen .hamburger-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.landing-page {
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20vh;
}

.landing-page__pictures {
  margin: auto;
}

.landing-page__pictures--left {
  height: 70vh;
}

@media screen and (max-width: 800px) {
  .landing-page__pictures--left {
    display: none;
  }
}

.landing-page__pictures--right {
  height: 70vh;
}

@media screen and (max-width: 800px) {
  .landing-page__pictures--right {
    display: none;
  }
}

.landing-page__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  height: 70vh;
  position: relative;
}

@media screen and (max-width: 800px) {
  .landing-page__center {
    width: 80vw;
  }
}

.landing-page__clip {
  max-height: 50vh;
  max-width: 80vw;
  margin: 3vh 0;
  -webkit-box-shadow: 0 0 0.625rem -0.125rem #000;
          box-shadow: 0 0 0.625rem -0.125rem #000;
  z-index: 1;
}

.landing-page__advertising {
  text-align: center;
  font-size: 1.3rem;
  padding: 1vh;
}

.landing-page__advertising--highlight {
  font-weight: bold;
  font-size: 1.3rem;
}

.landing-page__btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .landing-page__btn {
    display: block;
    cursor: pointer;
    background-color: #ff4e53;
    color: #fff;
    border-radius: 3.125rem;
    -webkit-box-shadow: 0 0 0.3125rem -0.125rem #000;
            box-shadow: 0 0 0.3125rem -0.125rem #000;
    font-size: 1.5rem;
    padding: 1vw 2vw;
    border: 0.2rem solid #ff4e53;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 3vh;
    padding: 1vh 2vh;
    z-index: 2;
  }
  .landing-page__btn:hover {
    background-color: #fff;
    border-color: #ff4e53;
    color: #ff4e53;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .landing-page__btn:active {
    border-color: #ff0209;
    color: #ff0209;
  }
}

.fourcomercials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  width: 100vw;
  max-width: 100%;
  padding: 3vh;
  margin: auto;
  position: relative;
}

.fourcomercials::before {
  content: '';
  position: absolute;
  top: 0;
  background: url(../assets/pictures/model-bg.webp) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -2;
}

.fourcomercials::before {
  content: '';
  position: absolute;
  top: 0;
  background-color: #f4f7f8;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.fourcomercials__1 {
  -webkit-transform: translateX(-20vw);
          transform: translateX(-20vw);
  padding: 3vh 0;
}

@media screen and (max-width: 1000px) {
  .fourcomercials__1 {
    -webkit-transform: translateX(-15vw);
            transform: translateX(-15vw);
  }
}

@media screen and (max-width: 800px) {
  .fourcomercials__1 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fourcomercials__2 {
  -webkit-transform: translateX(10vw);
          transform: translateX(10vw);
  padding: 3vh 0;
}

@media screen and (max-width: 1000px) {
  .fourcomercials__2 {
    -webkit-transform: translateX(7vw);
            transform: translateX(7vw);
  }
}

@media screen and (max-width: 800px) {
  .fourcomercials__2 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fourcomercials__3 {
  -webkit-transform: translateX(-10vw);
          transform: translateX(-10vw);
  padding: 3vh 0;
}

@media screen and (max-width: 1000px) {
  .fourcomercials__3 {
    -webkit-transform: translateX(-7vw);
            transform: translateX(-7vw);
  }
}

@media screen and (max-width: 800px) {
  .fourcomercials__3 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fourcomercials__4 {
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  padding: 3vh 0;
}

@media screen and (max-width: 1000px) {
  .fourcomercials__4 {
    -webkit-transform: translateX(15vw);
            transform: translateX(15vw);
  }
}

@media screen and (max-width: 800px) {
  .fourcomercials__4 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.title-bg-pink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ff4e53;
  width: 100vw;
  max-width: 100%;
}

.title-white {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 3vh 1vh;
}

.mask-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff4e53;
  color: #fff;
  position: relative;
}

.mask-presentation::before {
  content: '';
  position: absolute;
  background: url(../assets/pictures/triangle.svg) no-repeat center;
  top: -1.2vh;
  left: 0vh;
  width: 100vw;
  height: 5vh;
}

.mask-presentation::after {
  content: '';
  position: absolute;
  background: url(../assets/pictures/reversed-triangle.svg) no-repeat center;
  bottom: -3.8vh;
  left: 0;
  width: 100vw;
  height: 5vh;
}

.mask-presentation__clip {
  max-height: 50vh;
  max-width: 80vw;
  margin: 3vh 0;
  -webkit-box-shadow: 0 0 0.625rem -0.125rem #000;
          box-shadow: 0 0 0.625rem -0.125rem #000;
}

.mask-presentation__text {
  max-width: 70vw;
  margin: auto;
  margin-bottom: 5vh;
  line-height: 1.5rem;
}

.mask-presentation__text--highlight {
  font-weight: bold;
}

.title-bg-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  width: 100vw;
  max-width: 100%;
}

.title-pink {
  color: #ff4e53;
  font-size: 2rem;
  text-align: center;
  padding: 3vh 1vh;
}

.collor-effect {
  margin-top: 5vh;
}

.red-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5vh;
  margin-bottom: 5vh;
}

@media screen and (max-width: 800px) {
  .red-light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.red-light__picture {
  max-width: 40vw;
  -webkit-box-shadow: 0 0 0.625rem -0.125rem #000;
          box-shadow: 0 0 0.625rem -0.125rem #000;
}

@media screen and (max-width: 800px) {
  .red-light__picture {
    max-width: 80vw;
  }
}

.red-light__color {
  font-size: 1.3rem;
  text-align: center;
  padding: 1vh;
}

.red-light__color--length {
  font-size: 0.8rem;
}

.red-light__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1vh;
}

.red-light__coment {
  max-width: 40vw;
}

@media screen and (max-width: 800px) {
  .red-light__coment {
    max-width: 80vw;
  }
}

.orange-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ff4e53;
  color: #fff;
  padding: 5vh;
  position: relative;
}

.orange-light::before {
  content: '';
  position: absolute;
  background: url(../assets/pictures/triangle.svg) no-repeat center;
  top: -1.2vh;
  left: 0vh;
  width: 100vw;
  height: 5vh;
}

.orange-light::after {
  content: '';
  position: absolute;
  background: url(../assets/pictures/reversed-triangle.svg) no-repeat center;
  bottom: -3.8vh;
  left: 0;
  width: 100vw;
  height: 5vh;
}

@media screen and (max-width: 800px) {
  .orange-light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.orange-light__picture {
  max-width: 40vw;
  -webkit-box-shadow: 0 0 0.625rem -0.125rem #000;
          box-shadow: 0 0 0.625rem -0.125rem #000;
}

@media screen and (max-width: 800px) {
  .orange-light__picture {
    max-width: 80vw;
  }
}

.orange-light__color {
  font-size: 1.3rem;
  text-align: center;
  padding: 1vh;
}

.orange-light__color--length {
  font-size: 0.8rem;
}

.orange-light__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1vh;
}

.orange-light__coment {
  max-width: 40vw;
}

@media screen and (max-width: 800px) {
  .orange-light__coment {
    max-width: 80vw;
  }
}

.blue-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5vh;
  margin-top: 5vh;
}

@media screen and (max-width: 800px) {
  .blue-light {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blue-light__picture {
  max-width: 40vw;
  -webkit-box-shadow: 0 0 0.625rem -0.125rem #000;
          box-shadow: 0 0 0.625rem -0.125rem #000;
}

@media screen and (max-width: 800px) {
  .blue-light__picture {
    max-width: 80vw;
  }
}

.blue-light__color {
  font-size: 1.3rem;
  text-align: center;
  padding: 1vh;
}

.blue-light__color--length {
  font-size: 0.8rem;
}

.blue-light__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1vh;
}

.blue-light__coment {
  max-width: 40vw;
}

@media screen and (max-width: 800px) {
  .blue-light__coment {
    max-width: 80vw;
  }
}

.light-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.light-effect__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  position: relative;
  padding: 3vh 0;
  margin: 5vh 0;
}

.light-effect__clip {
  max-height: 50vh;
  max-width: 80vw;
  margin: 3vh 0;
  -webkit-box-shadow: 0 0 0.625rem -0.125rem #000;
          box-shadow: 0 0 0.625rem -0.125rem #000;
}

.light-effect__text {
  width: 70vw;
  margin: auto;
  padding: 3vh;
  line-height: 1.5rem;
}

@media screen and (max-width: 800px) {
  .light-effect__text {
    width: 80vw;
  }
}

.light-effect__text--highlight {
  font-weight: bold;
}

.buying-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buying-add__text {
  width: 70vw;
  padding: 3vh;
  margin: auto;
  position: relative;
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .buying-add__text {
    width: 80vw;
  }
}

.buying-add__text--nobreak {
  white-space: nowrap;
}

.buying-add__Btn {
  cursor: pointer;
  background-color: #ff4e53;
  color: #fff;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem #000;
          box-shadow: 0 0 0.3125rem -0.125rem #000;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 3vh 3vh 6vh 3vh;
  padding: 1vh 2vh;
}

.buying-add__Btn:hover {
  background-color: #fff;
  border-color: #ff4e53;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buying-add__Btn:active {
  border-color: #ff0209;
  color: #ff0209;
}

.user-manual {
  background-color: #ff4e53;
  color: #fff;
  position: relative;
}

.user-manual::before {
  content: '';
  position: absolute;
  background: url(../assets/pictures/triangle.svg) no-repeat center;
  top: -1.2vh;
  left: 0vh;
  width: 100vw;
  height: 5vh;
}

.user-manual::after {
  content: '';
  position: absolute;
  background: url(../assets/pictures/reversed-triangle.svg) no-repeat center;
  bottom: -3.8vh;
  left: 0;
  width: 100vw;
  height: 5vh;
}

.user-manual__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  counter-reset: step;
  padding: 3vh 0vh;
}

@media screen and (max-width: 800px) {
  .user-manual__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.user-manual__text {
  width: 70vw;
  margin: auto;
  padding: 3vh 0;
}

@media screen and (max-width: 800px) {
  .user-manual__text {
    width: 80vw;
  }
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
}

@media screen and (max-width: 800px) {
  .step {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .step {
    width: 70vw;
  }
}

.step__picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  width: 15vw;
  background-color: #fff;
  border: 0.3125rem solid #d9d9d9;
}

@media screen and (max-width: 800px) {
  .step__picture {
    width: 40vw;
  }
}

.step__text {
  margin-top: 3vh;
  position: relative;
}

.step__text::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  left: -2rem;
  top: -0.3em;
  background-color: #fff;
  color: #ff4e53;
  border: 0.1875rem solid #d9d9d9;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

@media screen and (max-width: 600px) {
  .step__text {
    margin-bottom: 3vh;
  }
}

.selling__bg-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 3vh 0;
  position: relative;
}

.selling__bg-picture::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/pictures/selling-spot-background.webp) no-repeat center center;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .selling__bg-picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.selling-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  margin: 3vh;
  border-radius: 3.125rem;
}

@media screen and (max-width: 800px) {
  .selling-advantages {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .selling-advantages {
    width: 80vw;
  }
}

.selling-advantages__title {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 3vh;
}

.selling-advantages__text {
  list-style-type: none;
  padding: 2vh;
  position: relative;
}

.selling-advantages__text:before {
  content: '*';
  position: absolute;
  top: 0.5rem;
  left: -0.625rem;
  font-size: 2rem;
  color: #ff4e53;
}

.selling-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  margin: 3vh;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 800px) {
  .selling-info {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .selling-info {
    width: 80vw;
  }
}

.selling-info__current-price {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.selling-info__old-price {
  margin: 1vh;
}

.selling-info__old-price--highlight {
  text-decoration: line-through;
}

.selling-info__Btn {
  cursor: pointer;
  background-color: #ff4e53;
  color: #fff;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem #000;
          box-shadow: 0 0 0.3125rem -0.125rem #000;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 5vh;
}

.selling-info__Btn:hover {
  background-color: #fff;
  border-color: #ff4e53;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.selling-info__Btn:active {
  border-color: #ff0209;
  color: #ff0209;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  padding: 3vh 0;
  margin: auto;
  margin-bottom: 5vh;
}

.newsletter__text--highlight {
  font-weight: bold;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 3vh 0;
}

@media screen and (max-width: 800px) {
  .newsletter__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.newsletter__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter__email--label {
  font-size: 0.8rem;
  padding: 1vh 0;
}

.newsletter__email--input {
  width: 30vw;
  height: 7.5vh;
  background-color: rgba(245, 198, 204, 0.39);
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem;
          box-shadow: 0 0 0.3125rem -0.125rem;
  border: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .newsletter__email--input {
    width: 90vw;
    height: 7.5vh;
  }
}

.newsletter__btn {
  cursor: pointer;
  background-color: #ff4e53;
  color: #fff;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem #000;
          box-shadow: 0 0 0.3125rem -0.125rem #000;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 3vh;
}

.newsletter__btn:hover {
  background-color: #fff;
  border-color: #ff4e53;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.newsletter__btn:active {
  border-color: #ff0209;
  color: #ff0209;
}

@media screen and (max-width: 800px) {
  .newsletter__btn {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .newsletter__btn {
    font-size: 1.1rem;
  }
}

.newsletter__age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newsletter__age--checkbox {
  width: 1.5625rem;
  height: 1.5625rem;
  margin: 2vh;
}

@media screen and (max-width: 800px) {
  .newsletter__age--checkbox {
    width: 7.5vw;
    height: 7.5vh;
  }
}

@media screen and (max-width: 600px) {
  .newsletter__age--checkbox {
    width: 15vw;
    height: 15vh;
  }
}

.newsletter__age--text {
  font-size: 0.8rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  min-height: 30vh;
  background-color: #2f2f2f;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem;
          box-shadow: 0 0 0.3125rem -0.125rem;
  position: relative;
}

@media screen and (max-width: 800px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__title {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.footer__assistance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  margin: 3vh 1.5vh;
}

@media screen and (max-width: 800px) {
  .footer__assistance {
    width: 70vw;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  margin: 3vh 1.5vh;
}

@media screen and (max-width: 800px) {
  .footer__contact {
    width: 70vw;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  margin: 3vh 1.5vh;
}

@media screen and (max-width: 800px) {
  .footer__social {
    width: 70vw;
  }
}

.footer__link {
  color: #c4c4c4;
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__link:active, .footer__link:focus {
  color: #fff;
}

.footer__info {
  list-style-type: none;
  color: #c4c4c4;
  margin: 2vh;
}

.footer__info--break-word {
  word-break: break-all;
}

.footer__social-link {
  list-style-type: none;
  color: #c4c4c4;
  margin: 2vh;
}

.footer__social-link:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__social-logo {
  width: 7.5vh;
  margin: auto;
}

.footer__copyright {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 4vh;
  color: #c4c4c4;
  font-size: 0.8rem;
  text-align: center;
}

.navspacing {
  margin-top: 20vh;
}

.information {
  width: 70vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3vh 0;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .information {
    width: 90vw;
    height: 70vh;
  }
}

.information__menu {
  list-style-type: none;
}

.information__item {
  padding: 1vh;
}

.unsubscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70vw;
  min-height: 70vh;
  padding: 3vh 0;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .unsubscribe {
    width: 90vw;
  }
}

.unsubscribe--success {
  margin: auto;
  padding: 1vh;
  color: #bdff7d;
  text-align: center;
}

.unsubscribe--failed {
  margin: auto;
  padding: 1vh;
  color: #ff4e53;
  text-align: center;
}

.unsubscribe__title {
  padding: 3vh 0;
}

.unsubscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 3vh 0;
}

@media screen and (max-width: 800px) {
  .unsubscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.unsubscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.unsubscribe__email--label {
  font-size: 0.8rem;
  padding: 1vh 0;
}

.unsubscribe__email--input {
  width: 30vw;
  height: 7.5vh;
  background-color: rgba(245, 198, 204, 0.39);
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem;
          box-shadow: 0 0 0.3125rem -0.125rem;
  border: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .unsubscribe__email--input {
    width: 90vw;
    height: 7.5vh;
  }
}

.unsubscribe__btn {
  cursor: pointer;
  background-color: #ff4e53;
  color: #fff;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem #000;
          box-shadow: 0 0 0.3125rem -0.125rem #000;
  font-size: 1.5rem;
  padding: 1vw 2vw;
  border: 0.2rem solid #ff4e53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 3vh;
}

.unsubscribe__btn:hover {
  background-color: #fff;
  border-color: #ff4e53;
  color: #ff4e53;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.unsubscribe__btn:active {
  border-color: #ff0209;
  color: #ff0209;
}

@media screen and (max-width: 800px) {
  .unsubscribe__btn {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .unsubscribe__btn {
    font-size: 1.1rem;
  }
}

.modal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem;
          box-shadow: 0 0 0.3125rem -0.125rem;
  border-radius: 1.5625rem;
  -webkit-transform: translate(150%, 100%);
          transform: translate(150%, 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.modal--active {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 60vw;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 80vw;
  }
}

.modal__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
  z-index: 2;
}

.modal__bg--active {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  color: #fff;
  top: 0.625rem;
  right: 0.625rem;
  font-weight: bold;
}

.modal__title {
  background-color: #ff4e53;
  color: #fff;
  width: 100%;
  padding: 5vh 2vh;
  text-align: center;
  border-radius: 1.375rem;
}

.modal__text {
  padding: 5vh 2vh;
}

.modal__text--highlight {
  padding: 0vh 2vh 2vh 5vh;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff4e53;
  word-break: break-all;
}

.modal-newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  background-color: #fff;
  color: #ff4e53;
  -webkit-box-shadow: 0 0 0.3125rem -0.125rem;
          box-shadow: 0 0 0.3125rem -0.125rem;
  border-radius: 1.5625rem;
  -webkit-transform: translate(150%, 100%);
          transform: translate(150%, 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.modal-newsletter--active {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

@media screen and (max-width: 1000px) {
  .modal-newsletter {
    width: 60vw;
  }
}

@media screen and (max-width: 800px) {
  .modal-newsletter {
    width: 80vw;
  }
}

.modal-newsletter__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
  z-index: 2;
}

.modal-newsletter__bg--active {
  visibility: visible;
  opacity: 1;
}

.modal-newsletter__close {
  position: absolute;
  cursor: pointer;
  color: #fff;
  top: 0.625rem;
  right: 0.625rem;
  font-weight: bold;
}

.modal-newsletter__title {
  background-color: #ff4e53;
  color: #fff;
  width: 100%;
  padding: 5vh 2vh;
  text-align: center;
  border-radius: 1.375rem;
}

.modal-newsletter__text {
  margin: auto;
  padding: 5vh 2vh;
  color: #000;
}

.modal-newsletter__text--highlight {
  font-weight: bold;
  color: #ff4e53;
}
/*# sourceMappingURL=style.css.map */