<!-- Header -->
<%- include('layouts/header'); -%>
  <title>Envame - Commande réussi</title>
</head>

<!-- Navbar -->
<%- include('layouts/navbar'); -%>

<!-- paiement success -->
<section>
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
</section>

<!-- Footer -->
<%- include('layouts/footer'); -%>
</body>