<!-- Header + Navbar -->
<%- include('layouts/header'); -%>

<!-- contact-->
<div class="contact-container navspacing">
  <div class="contact">
    <h2 class="contact__title">Écrivez-nous un message</h2>
    <form class="contact__form">
      <div class="contact__first-name">
        <label class="contact__first-name--label" for="firstname">Dites nous votre <span class="nobreak">prénom :</span></label>
        <input class="contact__first-name--input" type="text" id="firstname" name="firstname" data-length="30" maxlength="30" required>
      </div>
      <div class="contact__last-name">
        <label class="contact__last-name--label" for="lastname">Et votre <span class="nobreak">nom :</span></label>
        <input class="contact__last-name--input" type="text" id="lastname" name="lastname" data-length="30" maxlength="30" required>
      </div>
      <div class="contact__email">
        <label class="contact__email--label" for="email">Entrez votre <span class="nobreak">e-mail :</span></label>
        <input class="contact__email--input" type="email" id="email" name="email" data-length="50" maxlength="50" required>
      </div>
      <div class="contact__phone">
        <label class="contact__phone--label" for="phone">Entrez votre numéro de <span class="nobreak">téléphone :</span></label>
        <input class="contact__phone--input" type="tel" id="phone" name="phone" minlength="10" maxlength="15" pattern="^[0-9 +.()-]+$">
      </div>
      <div class="contact__message">
        <label class="contact__message--label" for="message">Votre <span class="nobreak">message :</span></label>
        <textarea class="contact__message--input" name="message" id="message" rows="3" cols="50"></textarea>
      </div>
      <input class="contact__btn" type="submit" value="Envoyer">
    </form>
  </div>
  <div class="info">
    <div class="info__title">
      <i class="material-icons">business</i>
      <p class="info__text">Notre adresse</p>
    </div>
    <div class="info__data">264 av de la Capelette 13010 Marseille France</div>
    <div class="info__title">
      <i class="material-icons">call</i>
     <p class="info__text">Appelez-nous</p>
    </div>
    <div class="info__data">Europe : (+33)6 28 60 73 50</div>
    <div class="info__data">Afrique : (+233)5 56 84 58 90</div>
    <div class="info__title">
      <i class="material-icons">email</i>
      <p class="info__text">Assistance Envame</p>
    </div>
    <div class="info__data info__data--wordbreak">contact@envame.com</div>
  </div>
</div>


<!-- buying modal -->
<div class="modal__bg">
  <div class="modal">
    <span class="modal__close">X</span>
    <h3 class="modal__title">Payement en ligne bientôt disponible</h3>
    <p class="modal__text">En attendant l'ajout de cette fonctionnalité vous pouvez d'ores et déjà commander votre masque Envame en nous contactant via email à :</p>
    <p class="modal__text--highlight">contact@envame.com</p>
  </div>
</div>

<!-- Footer -->
<%- include('layouts/footer'); -%>
</body>