<!-- Header + Navbar -->
<%- include('layouts/header'); -%>
<!-- LandingPage -->
<div class="landing-page">
  <div class="landing-page__pictures"><img class="landing-page__pictures--left" src="./assets/pictures/landing-page-bg-gauche.png" alt="photo visage ayant utilisé le masque de beauté envame"></div>
  <div class="landing-page__center">
    <div class="landing-page__brand">
      <img class="landing-page__brand--logo "src="./assets/pictures/logo-envame.png" alt="Logo marque envame">
   
    </div>
    <div class="landing-page__advertising"><p>Tranformer votre peau en <span class="landing-page__advertising--highlight">deux semaines</span> pour seulement 149€ !</p></div>
  </div>
  <div class="landing-page__pictures"><img class="landing-page__pictures--left" src="./assets/pictures/landing-page-bg-droit.png" alt="photo visage ayant utilisé le masque de beauté envame"></div>
</div>
<!-- 4 comercials -->
<div class="fourcomercials">
  <p class="comercial1">Favorise le rajeunissement et l'éclat du visage</p>
  <p class="comercial2">Lutte efficacement contre l'acnée </p>
  <p class="comercial3">Approuvé par les dermatologues</p>
  <p class="comercial4">Transformation garantie en seulement 15min / jours</p>
</div>
<!-- Footer -->
<%- include('layouts/footer'); -%>
