<!-- Header -->
<%- include('layouts/header'); -%>
  <title>Envame - Information complémentaire</title>
</head>

<!-- Navbar -->
<%- include('layouts/navbar'); -%>

<!-- further info -->
<div class="title-bg-white navspacing">
  <h2 class="title-pink">Information complémentaire</h2>
</div>
<div class="information">
  <ul class="information__menu">
    <li class="information__item">Ne pas utiliser si vous êtes sensible à la lumière</li>
    <li class="information__item">Cet appareil n’est pas étanche</li>
    <li class="information__item">Arrêter d’utiliser  l’appareil en cas d’irritation </li>
    <li class="information__item">Garder hors de portée des enfants</li>
    <li class="information__item">Ne dispense nullement de l’avis d’un médecin</li>
  </ul>
  <p class="information__text">La luminotherapie est un soin de haute puissance pour les procedures cosmetiques non chirurgicales</p>
</div>

<!-- Footer -->
<%- include('layouts/footer'); -%>
</body>