<!-- Header + Navbar -->
<%- include('layouts/header'); -%>

<!-- further info -->
<div class="title-bg-white navspacing">
  <h2 class="title-pink">Information complémentaire</h2>
</div>
<div class="information">
  <ul class="information__menu">
    <li class="information__item">Ne pas utiliser si vous êtes sensible à la lumière</li>
    <li class="information__item">Cet appareil n’est pas étanche</li>
    <li class="information__item">Arrêter d’utiliser  l’appareil en cas d’irritation </li>
    <li class="information__item">Garder hors de portée des enfants</li>
    <li class="information__item">Ne dispense nullement de l’avis d’un médecin</li>
  </ul>
  <p class="information__text">La luminotherapie est un soin de haute puissance pour les procedures cosmetiques non chirurgicales</p>
</div>

<!-- buying modal -->
<div class="modal__bg">
  <div class="modal">
    <span class="modal__close">X</span>
    <h3 class="modal__title">Payement en ligne bientôt disponible</h3>
    <p class="modal__text">En attendant l'ajout de cette fonctionnalité vous pouvez d'ores et déjà commander votre masque Envame en nous contactant via email à :</p>
    <p class="modal__text--highlight">contact@envame.com</p>
  </div>
</div>

<!-- Footer -->
<%- include('layouts/footer'); -%>
</body>