<!-- Header -->
<%- include('layouts/header'); -%>
  <title>Envame - Commande réussi</title>
</head>

<!-- Navbar -->
<%- include('layouts/navbar'); -%>

<!-- paiement success -->
<section>
  <p>
    We appreciate your business! If you have any questions, please email
    <a href="mailto:contact@envame.com">contact@envame.com</a>.
  </p>
</section>

<!-- Footer -->
<%- include('layouts/footer'); -%>
</body>