<!-- Header + Navbar -->
<%- include('layouts/header'); -%>

<!-- unsubscribe newsletter -->
<div class="unsubscribe">
  <div class="title-bg-white navspacing">
    <h2 class="title-pink">Merci de nous avoir suivi</h2>
  </div>
  <h3 class="unsubscribe__title">Pour se désabonner, rien de plus simple : renseigner votre e-mail</h3>
  <p class="unsubscribe__status"></p>
  <form class="unsubscribe__form">
    <div class="unsubscribe__email">
      <label class="unsubscribe__email--label" for="email"> Entrez votre e-mail :</label>
      <input class="unsubscribe__email--input" type="email" id="email" name="email" data-length="50" maxlength="50" required>
    </div>
    <input class="unsubscribe__btn" type="submit" value="Se désabonner">
  </form>
</div>

<!-- buying modal -->
<div class="modal__bg">
  <div class="modal">
    <span class="modal__close">X</span>
    <h3 class="modal__title">Payement en ligne bientôt disponible</h3>
    <p class="modal__text">En attendant l'ajout de cette fonctionnalité vous pouvez d'ores et déjà commander votre masque Envame en nous contactant via email à :</p>
    <p class="modal__text--highlight">contact@envame.com</p>
  </div>
</div>

<!-- Footer -->
<%- include('layouts/footer'); -%>

<script src="./frontjs/unsubscribe.js"></script>
</body>